// Variables
$primary-color: burlywood;
$text-color: black;
$highlight-color: rgb(181, 121, 0);
$font-size-menu: 18px;

// Estilos base
.content {
    background-color: $primary-color;
    min-height: 80px;
}

// Estilos del menú
.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo
.logo {
    font-size: 25px;
    color: $highlight-color;
    text-transform: uppercase;
    font-weight: bold;
}

// Navegación
.navbar {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        
        li {
            position: relative;
            
            a {
                font-size: $font-size-menu;
                padding: 20px;
                color: $text-color;
                display: block;
                font-weight: bold;
                text-decoration: none;
                
                &:hover {
                    color: $highlight-color;
                }
            }
        }
    }
}

// Menú hamburguesa
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: block;  
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $primary-color;
        display: none;
        flex-direction: column;
        
        ul {
            flex-direction: column;
            
            li {
                width: 100%;
            }
        }
    }

    #menu:checked ~ .navbar {
        display: flex;
    }
}
