$primary-color: burlywood;
$secondary-color: #f8f1e4;
$accent-color: rgb(181, 121, 0);
$font-main: 'Lato', sans-serif;
$font-size-base: 16px;

@mixin transition-effect($property, $time) {
  transition: $property $time ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: $font-size-base;
    background-color: $secondary-color;
  }

  .content {
    background-color: $primary-color;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .menu {
    background-color: $primary-color;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    }
  
    .logo {
      font-size: 25px;
      color: $accent-color;
      font-weight: bold;
      position: absolute;
      left: 20px;
    }

    input[type="checkbox"] {
      display: none;
    }

    .menu-icono {
      display: none;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      cursor: pointer;
    
    @media (max-width: 768px) { 
      display: block;
      cursor: pointer;
     }
  }

    .navbar {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0 15px;
  
          a {
            color: black;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            @include transition-effect(color, 0.3s);
  
            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }
  
    .information {
      padding: 40px;
      background-color: $secondary-color;
    
      h1 {
        text-align: center;
        font-size: 2em;
        color: $accent-color;
      }
    
      .information-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    
        .producto {
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          text-align: center;
          @include transition-effect(transform, 0.3s);
    
          &:hover {
            transform: scale(1.05);
          }
    
          img {
            max-width: 100%;
            border-radius: 5px;
          }
    
          h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
          }
    
          p {
            font-size: 1em;
            color: #666;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .information-box {
        grid-template-columns: 1fr;
      }
    }